html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 24px;
}
.opt-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 24px;
}

.opt-container {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.opt-title {
  font-weight: bold;
  line-height: 30px;
}
.input-textarea {
  width: 100%;
  margin-top: 12px;
}
.code-font {
  font-family: "SF Mono", Menlo, Monaco, "Cascadia Code", Consolas, "Courier New", monospace;
}
